In [18]:

pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/09/49/9f70542e711802788cd46c315ba7b69be09140e628048707e43506f7c858/mysql_connector_python-8.0.27-1commercial-py2.py3-none-any.whl (302kB)
     |████████████████████████████████| 307kB 4.7MB/s eta 0:00:01
Collecting protobuf>=3.0.0 (from mysql-connector-python)
  Downloading https://files.pythonhosted.org/packages/e6/88/7a23ebaca41d0f22db004eb852dfaa0f3e43ac7d99784bbf35758357aa0a/protobuf-3.19.1-cp37-cp37m-macosx_10_9_x86_64.whl (1.0MB)
     |████████████████████████████████| 1.0MB 6.2MB/s eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.27 protobuf-3.19.1
Note: you may need to restart the kernel to use updated packages.

In [23]:
#The below code takes any file from the online Kaggle repository "College Basketball Dataset" by Andrew Sundberg
# (which can be found here: https://www.kaggle.com/andrewsundberg/college-basketball-dataset), and writes it to a
# SQL database.


import os
import getpass
from kaggle.api.kaggle_api_extended import KaggleApi #Kaggle API key needed for import
import zipfile
import kaggle
import pandas as pd
import mysql.connector


approved_files = ['cbb.csv', 'cbb13.csv', 'cbb14.csv', 'cbb15.csv', 'cbb16.csv', 'cbb17.csv', 'cbb18.csv', 'cbb19.csv', 'cbb20.csv', 'cbb21.csv']
#All Files in DataFrame


while True:
    new_file = input("Please input a valid file name from the database: ") #Prompt user for file name
    if new_file in approved_files:
        break
    else:
        print('Invalid file name. Valid file names consist of "cbb" + a year (13, 14, etc)')
        #Prompt user to input a different file name if the inputted one is not in the list
os.environ['new_file'] = str(new_file)

username = input("Please input your kaggle username credential: ")
os.environ['username'] = str(username) #ask for Kaggle credentials

api_key = getpass.getpass("Please input your custom kaggle API key: ")
os.environ['api_key'] = str(api_key)

sql_server = input("Please input the name of the SQL server you will be using: ")
os.environ['sql_server'] = str(sql_server) #ask for SQL credentials

sql_username = input("Please input your MySQL username credential: ")
os.environ['sql_username'] = str(sql_username)

sql_pwd = getpass.getpass("Please input your MySQL password (will be deleted from the system at the end): ")
os.environ['sql_pwd'] = str(sql_pwd)

sql_database = input("Please input the name of the SQL database you want to create: ")
os.environ['sql_database'] = str(sql_database) #ask for database name

api = KaggleApi()
api.authenticate() #import API

new_file = os.getenv('new_file')

api.dataset_download_file('andrewsundberg/college-basketball-dataset', file_name=new_file, path="./")
#download inputted file

try:
    with zipfile.ZipFile(f'./{new_file}.zip', 'r') as zipref:
        zipref.extractall('./')
except: #unzip the folder kaggle gives you when downloading a file
    pass


data = pd.read_csv(f'./{new_file}')  #read in the file
df = pd.DataFrame(data)

df = df[['G', 'W', 'EFG_O', 'EFG_D']] #extract the 4 columns we want

df = df.sort_values('W', ascending=False) #sort by wins

df = df.head(100) #take first 100 values

print("This dataset consists of 4 columns (Games Played, Wins, Effective Field Goal Percentage (Offense) and Opponent Effective Field Goal Percentage) from the the 100 winningest Division 1 Programs from the given season. A sample can be found below:")

print(df.head(5)) #give user a look at the first 5 elements


df.to_csv('./df.csv')


def connection_func(sql_server, sql_username, sql_pwd, sql_database):
    new_conn = None
    try:
        new_conn = mysql.connector.connect( #function to create new mySQL connection, using user inputs
            host=sql_server,
            user=sql_username,
            passwd=sql_pwd,
            database=sql_database
        )
        print('Database connection successful')
    except mysql.connector.Error as err: #custom error message if user input is invalid
        print(f"One or more of the imputted values is invalid".format(err))

    return new_conn


def query_func(new_conn, new_query):
    new_cursor = new_conn.cursor()
    try:
        new_cursor.execute(new_query) #function to execute a query for the given connection
        new_conn.commit()
    except mysql.connector.Error as err: #custom error if query fails
        print(f"Something went wrong with the query:".format(err))


df = pd.read_csv('./df.csv') 
file_name = os.getenv('file_name') #get all the values we need from the environment
host_name = os.getenv('host_name')
user_name = os.getenv('user_name')
user_password = os.getenv('user_password')
db_name = os.getenv('db_name')

new_conn = connection_func(sql_server, sql_username, sql_pwd, sql_database) #run connection function on given information

extensionless_file = new_file.replace('.csv', '') #delete file extension

#create new table
new_query = f'CREATE TABLE {extensionless_file} (G float, W float, EFG_O float, EFG_D float)'
query_func(new_conn, new_query) #Run query on connection


create_cursor = new_con.cursor()
for row in list(range(0,len(df))):
    sql_df = f'INSERT INTO {f}(G, W, EFG_O, EFG_D) VALUES (%s,%s,%s,%s)'
    num_games = float(df['G'].iloc[row]) #insert the values we need into the sql object
    num_wins = float(df['W'].iloc[row])
    efg_offense = float(df['EFG_O'].iloc[row])
    efg_defense = float(df['EFG_D'].iloc[row])
    create_cursor.execute(sql_df, (num_games, num_wins, efg_offense, efg_defense))
new_conn.commit()

del os.environ['user_password'] #delete sensitive info
del os.environ['KAGGLE_KEY']

Please input a valid file name from the database: cbb17.csv
Please input your kaggle username credential: kaliforniakid
Please input your custom kaggle API key: ········
Please input the name of the SQL server you will be using: DS3002Midterm
Please input your MySQL username credential: nkal13
Please input your MySQL password (will be deleted from the system at the end): ········
Please input the name of the SQL database you want to create: midterm_file
This dataset consists of 4 columns and the 100 winningest Division 1 Programs from the given season. A sample can be found below:
    G   W  EFG_O  EFG_D
0  39  37   56.6   41.1
1  39  33   51.7   48.1
8  38  33   55.5   46.4
2  36  32   57.5   48.1
4  38  32   52.9   47.5
One or more of the imputted values is invalid

AttributeError: 'NoneType' object has no attribute 'cursor'